@tailwind base;

@tailwind components;

body {
  font-family: 'Barlow', sans-serif;
}

#hero-header {
  background-image: url("./../img/desert-truck-sm-2.jpg");
  background-position: center bottom;
  background-size: cover;
  height: 45vh;
}

@media (min-width: 1024px) {
  #hero-header {
    background-image: url("./../img/desert-truck-lg.jpg");
    background-position: center bottom;
    background-size: cover;
    height: 50vh;
  }
}

@tailwind utilities;