@tailwind base;

@tailwind components;

body {
  font-family: 'Barlow', sans-serif;
}

#hero-header {
  background-image: url("./../img/dez-truck-1000w.jpg");
  background-position: center right;
  background-size: cover;
  height: 45vh;
}

@tailwind utilities;