@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: 'Barlow', sans-serif;
}

#hero-header {
  background-image: url("./../img/dez-truck-1000w.jpg");
  background-position: center left;
  background-size: cover;
  height: 60vh;
}

h1 {
  /*color: red;*/
}